<form action="/restaurant/{{restaurants._id}}?_method=PUT" method="POST">
  <h1 class="mb-1 restaurant-show-title">
   <input type="text" name="name" value="{{restaurants.name}}">
   </h1>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 mx-auto">

        <p class="mb-1">
          <span class="text-secondary">
            <i class="bi bi-shop pr-2"></i>
            類別：
          </span>
          <input type="text" placeholder="" name="category" value="{{restaurants.category}}">
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="bi bi-geo-alt-fill pr-2"></i>
            地址：
          </span>
          <input type="text" placeholder="" name="location" value="{{restaurants.location}}">
            地圖座標連結:
          <input type="text" placeholder="" name="google_map" value="{{restaurants.google_map}}">
            <i class="bi bi-geo-fill pr-2"></i>
        </p>

        <p class="mb-1">
          <span class="text-secondary">
            <i class="bi bi-phone pr-2"></i>
            電話：
          </span>
          <input type="text" placeholder="" name="phone" value="{{restaurants.phone}}">
        </p>

        <p class="mb-5">
           餐廳介紹內容:
           <input type="text" placeholder="" name="description" value="{{restaurants.description}}">
        </p>

        <p class="mb-5">
            評價:
           <input type="text" placeholder="" name="rating" value="{{restaurants.rating}}">
        </p>

        <p class="mb-5">
            餐廳圖片連結:
          <input type="text" placeholder="" name="image" value="{{restaurants.image}}">
        </p>

        
      </div>
      <div class="d-flex justify-content-around">
      <button type="submit" class="col-4">提交修改</button>
      <a href="/" class="col-4 text-decoration-none"><button type="button" class="col-12" >取消並回首頁</button></a>
      </div>
  </div>
  
</form>